@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 25px;
  bottom: 20px;
  right: 20px;
  background: blue;
  border-radius: 50%;
  color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

.btn {
  font-weight: 600;
  font-size: 22px;
  border-radius: 2px;
  background-color: #F7515C;
  padding: 25px 55px;
  transition: 0.4s;
}

.title {
  font-weight: 700;
  font-size: 100px;
}

body {
  background-color: #f5f5f5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 999;
}

.show__header__shrink {
  padding: 15px 0;
  box-shadow: 0px 0px 10px skyblue;
  background: #f5f5f5;
}

.header__nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: #282A30;
}

.header__nav__right,
.header__nav__right__btns {
  gap: 20px;
}

.header__nav__right__list {
  width: 50%;
}

.header__nav__right__list__item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  transition: 0.3s;
  color: #282A30;
}

.header__nav__right__list__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #282A30;
  bottom: 0;
  left: 50%;
  border-radius: 0 1px 1px 0;
  transition: 0.3s;
}

.header__nav__right__list__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #282A30;
  bottom: 0;
  right: 50%;
  border-radius: 1px 0 0 1px;
  transition: 0.3s;
}

.header__nav__right__list__item:hover {
  color: skyblue;
}

.header__nav__right__list__item:hover::after,
.header__nav__right__list__item:hover::before {
  width: 50%;
  background: skyblue;
}

.header__nav__right__list__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
  display: none;
}

.header__nav__right__btns__search {
  font-size: 20px;
}

.header__nav__right__btns__bag {
  font-size: 20px;
}

.header__nav__right__btns__hamburger {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.header__nav__right__btns__hamburger span {
  width: 20px;
  height: 2.5px;
  background: #282A30;
  border-radius: 2px;
  transition: 0.4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
  background: skyblue;
}

.header__nav__right__btns__dark-mode {
  border: none;
  background: transparent;
  color: black;
  font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
  display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
  display: block;
}

@media (max-width: 700px) {
  .header__nav__right__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 15px skyblue;
    transition: 0.3s;
    z-index: 9999;
  }
  .header__nav__right__btns {
    gap: 10px;
  }
  .header__nav__right__btns__hamburger {
    display: flex;
  }
  .show__header__nav__right__list {
    left: 0;
  }
  .header__nav__right__list__close {
    display: block;
  }
}
#hero {
  padding: 100px 0 80px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 89px;
}
.hero__left {
  width: 60%;
}
.hero__left__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #F7515C;
}
.hero__left__title {
  font-weight: 700;
  font-size: 55px;
  color: #282A30;
  padding-top: 67px;
  padding-bottom: 47px;
}
.hero__left__btns {
  display: flex;
  gap: 67px;
}
.hero__left__btns__disc {
  color: #fff;
  border: 2px solid #F7515C;
}
.hero__left__btns__disc:hover {
  background-color: #fff;
  color: #F7515C;
}
.hero__left__btns__video {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #282A30;
  padding: 0 10px;
  background-color: transparent;
}
.hero__left__btns__video i {
  padding: 18px 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #282A30;
}
.hero__left__btns__video:hover {
  background-color: #F7515C;
  color: #fff;
}
.hero__right {
  width: 40%;
}
.hero__right img {
  width: 100%;
}
@media (max-width: 1130px) {
  .hero .hero__left__subtitle {
    font-size: 16px;
  }
  .hero .hero__left__title {
    font-size: 40px;
    padding-top: 47px;
    padding-bottom: 27px;
  }
  .hero__left__btns {
    gap: 40px;
  }
  .hero__left__btns__disc, .hero__left__btns__video {
    font-size: 16px;
    padding: 6px 20px;
  }
  .hero__left__btns__video {
    gap: 12px;
  }
  .hero__left__btns__video i {
    padding: 10px 14px;
  }
}
@media (max-width: 850px) {
  .hero {
    flex-direction: column;
  }
  .hero__right {
    width: 70%;
  }
  .hero__left {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .hero__left__btns {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__right {
    width: 100%;
  }
}

#about {
  padding: 80px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.about__left {
  width: 50%;
}
.about__left img {
  width: 100%;
}
.about__right {
  width: 50%;
}
.about__right__subtitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}
.about__right__title {
  line-height: 121px;
}
.about__right__desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #282a30;
  padding: 55px 0 48px;
}
.about__right__btn {
  color: #fff;
  border: 2px solid #F7515C;
}
.about__right__btn:hover {
  color: #F7515C;
  background-color: #fff;
}
@media (max-width: 1100px) {
  .about__right__subtitle {
    font-size: 40px;
    line-height: 70px;
  }
  .about__right__title {
    font-size: 60px;
  }
  .about__right__desc {
    font-size: 18px;
    padding: 30px 0 20px;
  }
  .about__right__btn {
    padding: 14px 26px;
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  .about {
    flex-direction: column-reverse;
  }
  .about__left {
    width: 70%;
  }
  .about__right {
    width: 100%;
  }
}

@media (max-width: 450px) {
  #about {
    padding: 100px 0 100px;
  }
  .about {
    gap: 40px;
  }
  .about__right__subtitle {
    font-size: 30px;
    line-height: 50px;
  }
  .about__right__title {
    font-size: 45px;
    line-height: 50px;
  }
  .about__right__desc {
    font-size: 16px;
    padding: 30px 0 20px;
  }
  .about__right__btn {
    padding: 12px 20px;
    font-size: 14px;
  }
  .about__left {
    width: 100%;
  }
}
#value {
  padding: 80px 0;
}

.value__top {
  padding-bottom: 87px;
}
.value__top__subtitle {
  font-weight: 600;
  font-size: 40px;
}

.value__bottom {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}
.value__bottom img {
  width: 100%;
}
.value__bottom__card {
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 22px;
  padding: 44px;
  max-width: 500px;
  box-shadow: 0 0 5px 1px gray;
  z-index: 10;
  background-color: #fff;
}
.value__bottom__card__num {
  padding: 14px 20px;
  color: #F7515C;
  background-color: #edd6d8;
  border-radius: 50%;
}
.value__bottom__card__info__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.value__bottom__card__info__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #464749;
  padding-top: 14px;
  max-width: 230px;
}
.value__bottom__card--1 {
  top: 90px;
  left: -120px;
}
.value__bottom__card--2 {
  top: -51px;
  right: 41px;
}
.value__bottom__card--3 {
  right: -89px;
  bottom: -64px;
}

@media (max-width: 900px) {
  .value__top__subtitle {
    font-size: 40px;
  }
  .value__top__title {
    font-size: 70px;
  }
  .value__bottom {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .value__bottom__card {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .value__top__subtitle {
    font-size: 20px;
  }
  .value__top__title {
    font-size: 50px;
  }
  .value__bottom {
    max-width: 100%;
  }
  .value__bottom img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .value__top {
    padding-bottom: 50px;
  }
  .value__top__subtitle {
    font-size: 18px;
  }
  .value__top__title {
    font-size: 30px;
  }
  .value__bottom__card {
    flex-direction: column;
  }
}
#product {
  padding: 80px 0;
}

.product__left {
  position: relative;
}

.product__left__name {
  font-size: 30px;
  line-height: 40px;
  color: black;
}

.product__left__title {
  font-size: 100px;
  line-height: 120px;
  color: black;
}

.owl-next {
  position: absolute;
  top: -130px;
  right: 50px;
}

.owl-prev {
  position: absolute;
  top: -130px;
  right: 150px;
}

.owl-theme {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.item img {
  width: 100%;
}
.item .carousel__item__title {
  font-size: 22px;
  line-height: 24px;
  color: black;
}
.item .carousel__item__desc {
  font-size: 22px;
  line-height: 24px;
  color: black;
  opacity: 0.5;
}

.owl-next span,
.owl-prev span {
  font-size: 100px;
  color: black;
}

@media (max-width: 880px) {
  .product__left__name {
    font-size: 20px;
    line-height: 20px;
    color: black;
  }
  .product__left__title {
    font-size: 40px;
    line-height: 50px;
    color: black;
  }
  .owl-next {
    position: absolute;
    top: -90px;
    right: 50px;
  }
  .owl-prev {
    position: absolute;
    top: -90px;
    right: 120px;
  }
  .owl-next span,
.owl-prev span {
    font-size: 70px;
    color: black;
  }
}
@media (max-width: 470px) {
  .product__left__name {
    font-size: 16px;
    line-height: 18px;
    color: black;
  }
  .product__left__title {
    font-size: 24px;
    line-height: 30px;
  }
  .owl-next {
    position: absolute;
    top: -50px;
    right: 50px;
  }
  .owl-prev {
    position: absolute;
    top: -50px;
    right: 90px;
  }
  .owl-next span,
.owl-prev span {
    font-size: 50px;
    color: black;
  }
}
#try {
  padding-top: 150px;
  padding-bottom: 150px;
}

.try {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 218px;
}
.try__left {
  width: 50%;
}
.try__left__title {
  font-weight: 700;
  font-size: 100px;
  padding-bottom: 64px;
}
.try__left__btn {
  padding: 29px 69px;
  background-color: #f7515c;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  border: 2px solid #f7515c;
  border-radius: 2px;
  transition: 0.4s;
}
.try__left__btn:hover {
  background-color: #fff;
  color: #f7515c;
}
.try__right {
  width: 50%;
}
.try__right img {
  width: 100%;
}

@media (max-width: 1000px) {
  .try {
    gap: 100px;
  }
  .try__left__title {
    font-size: 70px;
    padding-bottom: 64px;
  }
  .try__left__btn {
    padding: 20px 50px;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .try {
    flex-direction: column;
  }
  .try__left {
    width: 100%;
  }
  .try__right {
    width: 70%;
  }
  .try__left__title {
    font-size: 50px;
    padding-bottom: 50px;
  }
  .try__left__btn {
    padding: 15px 30px;
    font-size: 18px;
  }
}
@media (max-width: 750px) {
  .try {
    gap: 50px;
  }
  .try__left__title {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .try__left__btn {
    padding: 15px 30px;
    font-size: 14px;
  }
  .try__right {
    width: 100%;
  }
}
.footer {
  padding: 100px 0;
  border-top: 2px solid #282A30;
}
.footer__rows {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer__rows__row__title {
  font-weight: 600;
  font-size: 26px;
  color: #282A30;
  padding-bottom: 50px;
}
.footer__rows__row__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.footer__rows__row__list__item {
  font-weight: 400;
  font-size: 18px;
  color: #282A30;
  transition: 0.4s;
}
.footer__rows__row__list__item:hover {
  color: #F7515C;
}

.footer__rows__row__item {
  cursor: pointer;
}
.footer__rows__row__item:hover {
  color: #F7515C;
}

@media (max-width: 1080px) {
  .footer__rows {
    flex-wrap: wrap;
  }
  .footer__rows__row {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .footer__rows {
    gap: 20px;
  }
  .footer__rows__row__title {
    font-size: 20px;
  }
  .footer__rows__row__list__item,
.footer__rows__row__item {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  .footer__rows {
    flex-direction: column;
    gap: 50px;
  }
  .footer__rows__row {
    width: 100%;
  }
  .footer__rows__row__title {
    padding-bottom: 20px;
  }
}